*{
    font-family: "Oswald", sans-serif;
    padding: 0;margin: 0;
    list-style: none;text-decoration: none;

}

/* VARIABLES COLORES  */
:root{
    --colorNegro: #000;
    --colorWithe: #fff;
    --colorA: #00b6ff;
}

body{background-color: var(--colorNegro);color: var(--colorWithe);font-size: 16px;}


header{width: 100%;height: 35vh; display: flex; justify-content: center; align-items: center}
header img{width: 25rem;}

.LogoFixed {bottom: 2vh;position: fixed;width: 80px;left: 2vh; transition: 2s;}
.LogoFixed:hover {transform: scale(1.1)}
/*///////////////////////////////////////////////////////////////////////////////////////*/

.inputCharacter{
    display: flex; flex-direction: column; align-items: center; align-items: center;
    width: 100%;height:2vh; gap: 5px;
    margin-bottom: 5vh;
}
.inputCharacter input{padding: 10px;width: 35%; border: none; border-radius: 8px; font-size: 20px; color: #00b6ff; font-size: 20px;text-align: center;background-color: #000;outline: none;}
.inputCharacter button{ color: var(--colorWithe); cursor: pointer; padding: 11px;width: 80px; border: none; border-radius: 8px; display: flex; justify-content: center;align-items: center; background-color: var(--colorA)}

hr{
    width: 50%;
    background-color: #00b6ff;
}

.MainCards{
    padding: 30px;
    display: flex;justify-content:center;
    flex-wrap: wrap; gap: 50px;
    background-color: rgba(0, 0, 0, 0.755);
}

.contanerCard{width: 328px;height: 150px;background-color: #262626;display: flex; gap: 20px;color: var(--colorA);font-size:20px; border-radius: 15px;opacity: .7;filter: grayscale(100%);}
.contanerCard:hover{opacity: 1; box-shadow: 0 0 20px var(--colorA);filter: grayscale(0) }
.contanerCard img {width: 150px;height: 100%;border-radius:15px 0 0 15px;}


.info{display: flex;gap: 2vh;;align-items: flex-start;flex-direction: column;justify-content: center;}
.info p{ color: var(--colorGray);  font-style: italic; } 
.species{color: var(--colorGray);font-style:none;font-size:15px;}

@media (max-width:600px){
    header img{ width: 300px}
    .LogoFixed{width: 63px;}
    .contanerCard {gap: 13px;}
    .inputCharacter input {width: 59%;}
    
}